<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <style>
        .body {
            background-image: linear-gradient(to right, rgb(236, 232, 232), rgb(202, 247, 255));
        }
        .downloadNewsBtn {
            background: rgb(187, 187, 255);
        }
        .downloadNewsBtn:hover {
            background: rgb(195, 255, 195);
        }
        .logo {
            height: 50px;
            width: 50px;
        }
    </style>
    <title>Smart Health</title>
</head>
<body class="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Smart Health</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/covid-predictor">Scan Lung Image</a>
            </li>
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/covid-case-checker">Check Covid Cases</a>
            </li>
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/vaccine-news-page">Check Vaccine News</a>
            </li>
              </li>
              <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/ai-covid-assistant">AI Covid Assitant</a>
            </li>
          </ul>
            <form class="d-flex">
            <img src="{{url_for('static', filename='SMART HEALTH.png')}}" class="logo"/>
      </form>
        </div>
      </div>
    </nav>

    <center>
        <h1>Covid Vaccine News</h1>
        <br /><br /><br />
        <p>
        <h5>{{news_1}}</h5>
        <a href={{news_1_link}}>{{news_1_link}}</a>
        <hr />
        <h5>{{news_2}}</h5>
        <a href={{news_2_link}}>{{news_2_link}}</a>
        <hr />
        <h5>{{news_3}}</h5>
        <a href={{news_3_link}}>{{news_3_link}}</a>
        <hr />
        <h5>{{news_4}}</h5>
        <a href={{news_4_link}}>{{news_4_link}}</a>
        <hr />
        <h5>{{news_5}}</h5>
        <a href={{news_5_link}}>{{news_5_link}}</a>
        <hr />
        </p>
        <br /><br /><br />
        By clicking on download news all of this news along with some additional news will be downloaded as an excel file and stored on your computer for you to read it any time you want!
        <br /><hr/>
        <form method="POST">
            <button class="downloadNewsBtn">Download all news</button>
        </form>
    </center>
</body>
</html>
